#container-box{
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    height: 250px;
    width: 480px;
    gap: 4px;
}
.box{
    border: 2px solid gray;
    width: 140px;
    height: 250px;
    background-color: antiquewhite ;

}

.box:nth-child(1){
    background-color: aqua;
    display: flex;
    flex-direction: column;

}
.box:nth-child(2){
    background-color: red;
    display: flex;
    flex-direction: row;
}
.box:nth-child(3){
    background-color: bisque;
    display: flex;
    flex-direction: column;
}
.box:nth-child(4){
    background-color: blue;
    display: flex;
    flex-direction: row;
}

.box:nth-child(1) > div,
.box:nth-child(3)>div{
   
    width: auto;
    height: 50%;
}

.box:nth-child(2) > div,
.box:nth-child(4)>div{
     
    width: 50%;
    height: 250px;
}

#container-box{
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    height: 250px;
    width: 480px;
    gap: 4px;
}
.box{
    border: 2px solid gray;
    width: 140px;
    height: 250px;
    background-color: antiquewhite ;

}

.box:hover{          
    cursor: pointer;    
}

.box:nth-child(1){
    background-color: aqua;
    display: flex;
    flex-direction: column;

}

.box:nth-child(2){
    background-color: red;
    display: flex;
    flex-direction: row;
}
.box:nth-child(3){
    background-color: bisque;
    display: flex;
    flex-direction: column;
}
.box:nth-child(4){
    background-color: blue;
    display: flex;
    flex-direction: row;
}

.box:nth-child(1) > div,
.box:nth-child(3)>div{
   
    width: auto;
    height: 50%;
}

.box:nth-child(2) > div,
.box:nth-child(4)>div{
     
    width: 50%;
    height: 250px;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
